@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
* {
  box-sizing: border-box;
}
:root {
  --font: "Urbanist", sans-serif;
  --btn-bg: #2ad884;
  --text-color2: #ff9067;
  --text-color: #4c4c4c;
  --hover-color: #c9b2ff;
  --link-color: #1d1d1c;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0px, 2px, 15px, 0px rgba(0, 0, 0, 0.06);
  --animation: move 2s ease-in-out;
}

/* =====================Upper-Nav===================== */
.upper-nav {
  background-color: var(--hover-color);
  display: flex;
  height: 40px;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  justify-content: end;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.upper-nav .center {
  margin-right: 90px;
}
.upper-nav .right {
  display: flex;
  align-items: center;
  font-size: 17px;
  gap: 5px;
}

@media (max-width: 991.98px) {
  .upper-nav {
    display: none;
  }
}

/* ======================Lower-Nav===================== */
.lower-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  width: 100%;
  background-color: white;
  padding: 10px 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  top: 40px;
}
.lower-nav .logo {
  cursor: pointer;
}
.lower-nav .links > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.lower-nav .links > ul > li > a {
  font-size: 17px;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  color: var(--link-color);
}
.lower-nav .links > ul > li > a.active {
  color: var(--btn-bg);
}
.lower-nav .links > ul > li > a:hover {
  color: var(--btn-bg);
  transition: var(--transition);
}
.lower-nav .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.lower-nav .buttons .btn1 {
  text-align: center;
  font-size: 12px;
  height: 48px;
  width: 96px;
  font-weight: 600;
  border-radius: 50px;
  background-color: var(--btn-bg);
  outline: none;
  border: none;
  cursor: pointer;
}
.lower-nav .buttons .btn1:hover {
  transition: var(--transition);
  background-color: var(--hover-color);
}
.lower-nav .buttons .btn2 {
  font-size: 13px;
  font-weight: 600;
  height: 51px;
  width: 160px;
  padding: 10px 23px;
  border-radius: 50px;
  background-color: var(--btn-bg);
  outline: none;
  border: none;
  cursor: pointer;
}
.lower-nav .buttons .btn2:hover {
  transition: var(--transition);
  background-color: var(--hover-color);
}
.lower-nav .buttons button a {
  color: white;
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .lower-nav {
    top: 0;
    max-width: 100vw;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    z-index: 100;
  }
  .lower-nav .logo img {
    width: 200px;
  }
  .lower-nav .links {
    display: none;
  }
  .lower-nav .buttons .btn1,
  .lower-nav .buttons .btn2 {
    display: none;
  }
}

/* ============================section1========================= */
.section1 {
  width: 100%;
  height: 100%;
  margin-top: 140px;
  position: relative;
}
.section1::after {
  content: "";
  position: absolute;
  background: url("/assets/images/section8-eclipse.png");
  height: 600px;
  width: 80px;
  top: -15%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section1::before {
  content: "";
  position: absolute;
  background: url("/assets/images/Ellipse-15-1.svg");
  height: 400px;
  width: 100px;
  top: 80%;
  right: 0;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.section1 .container1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.section1 .container1 .upper-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
}
.section1 .container1 .upper-content h1 .section1-text-highlighter {
  position: relative;
  display: inline-block;
}
.section1 .container1 .upper-content h1 .section1-text-highlighter::after {
  content: "";
  position: absolute;
  background: url("/assets/images/span1-underline.png");
  height: 170%;
  width: 100%;
  left: -4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section1 .container1 .upper-content {
  width: 700px;
  padding: 10px 26px;
  text-align: center;
}
.section1 .container1 .upper-content p {
  font-size: 17px;
  line-height: 24px;
  color: var(--text-color);
  text-align: center;
}
.section1 .container1 .upper-content p:nth-child(3) {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.section1 .container1 .upper-content .btn button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  height: 44px;
  width: 200px;
  background-color: var(--btn-bg);
  color: white;
}
.section1 .container1 .upper-content .btn button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.section1 .container1 .upper-content .btn button:hover {
  transition: var(--transition);
  background-color: var(--hover-color);
}

/* ===========================section2===================== */

.section2 {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  position: relative;
}
.section2::after {
  content: "";
  position: absolute;
  background: url("/assets/images/Ellipse-12-5.svg");
  height: 600px;
  width: 90px;
  bottom: 0;
  top: 70%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section2 .container2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.section2 .container2 h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  width: 549px;
}
.section2 .container2 h2 .section2-text-highlighter {
  position: relative;
  display: inline-block;
}
.section2 .container2 h2 .section2-text-highlighter::after {
  content: "";
  position: absolute;
  background: url("/assets/images/Vector-18.svg");
  height: 170%;
  width: 120%;
  left: -15px;
  top: -19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section2 .container2 .lower-row,
.section2 .container2 .upper-row {
  display: flex;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}
.section2 .container2 .upper-row .card,
.section2 .container2 .lower-row .card {
  height: 271.891px;
  width: 359px;
  padding: 20px;
  border-radius: 30px;
}
.section2 .container2 .upper-row .card h5,
.section2 .container2 .lower-row .card h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  color: #1d1d1c;
}
.section2 .container2 .upper-row .card h3,
.section2 .container2 .lower-row .card h3 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 5px;
  color: #1d1d1c;
}
.section2 .container2 .upper-row .card1 {
  background-color: rgba(42, 216, 132, 0.1);
}
.section2 .container2 .upper-row .card2 {
  background-color: rgba(135, 207, 255, 0.1);
}
.section2 .container2 .upper-row .card3 {
  background-color: rgba(201, 178, 255, 0.1);
}
.section2 .container2 .lower-row .card4 {
  background-color: rgba(255, 227, 79, 0.1);
}
.section2 .container2 .lower-row .card5 {
  background-color: rgba(255, 144, 103, 0.1);
}
.section2 .container2 .lower-row .card6 {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

/* ===========================section3================ */

.section3 {
  width: 100%;
  height: 100%;
  margin: 180px auto 0 auto;
  position: relative;
}
.section3::after {
  content: "";
  position: absolute;
  background: url("/assets/images/section8-eclipse.png");
  height: 700px;
  width: 100px;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section3 .container3 {
  height: 100%;
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-start;
}
.section3 .container3 .left-content img {
  width: 556px;
}
.section3 .container3 .right-content {
  width: 607px;
  padding: 0 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section3 .container3 .right-content h2 {
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
.section3 .container3 .right-content h2 .section3-text-highlighter {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
.section3 .container3 .right-content h2 .section3-text-highlighter::after {
  content: "";
  position: absolute;
  background: url("/assets/images/span1-underline.png");
  height: 170%;
  width: 105%;
  left: -2px;
  top: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section3 .container3 .right-content .steps h4 {
  font-size: 25px;
  font-weight: 600;
}
.section3 .container3 .right-content .steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.section3 .container3 .right-content .steps .step1 .box,
.section3 .container3 .right-content .steps .step2 .box,
.section3 .container3 .right-content .steps .step3 .box,
.section3 .container3 .right-content .steps .step4 .box {
  height: 57px;
  width: 57px;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.section3 .container3 .right-content .steps .step1 .box1 {
  background-color: rgb(135, 207, 255, 0.3);
}
.section3 .container3 .right-content .steps .step2 .box2 {
  background-color: rgb(255, 144, 103, 0.3);
}
.section3 .container3 .right-content .steps .step3 .box3 {
  background-color: rgb(255, 227, 79, 0.3);
}
.section3 .container3 .right-content .steps .step4 .box4 {
  background-color: rgb(201, 178, 255, 0.3);
}
.section3 .container3 .right-content .steps .step1 p,
.section3 .container3 .right-content .steps .step2 p,
.section3 .container3 .right-content .steps .step3 p,
.section3 .container3 .right-content .steps .step4 p {
  font-size: 15px;
  line-height: 24px;
  color: var(--text-color);
}
.section3 .container3 .right-content .steps .step1,
.section3 .container3 .right-content .steps .step2,
.section3 .container3 .right-content .steps .step3,
.section3 .container3 .right-content .steps .step4 {
  display: flex;
  align-items: center;
  width: 556px;
  gap: 10px;
}
.section3 .container3 .right-content .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -5px;
}
.section3 .container3 .right-content .buttons span {
  font-size: 17px;
  font-weight: 700;
}
.section3 .container3 .right-content .buttons .btn1 button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  height: 44px;
  width: 200px;
  background-color: var(--btn-bg);
  color: white;
}
.section3 .container3 .right-content .buttons .btn1 button:hover {
  transition: var(--transition);
  background-color: var(--hover-color);
}
.section3 .container3 .right-content .buttons .btn1 button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.section3 .container3 .right-content .buttons .btn2 button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  height: 44px;
  width: 278px;
  background-color: white;
  border: 2px solid var(--btn-bg);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}
.section3 .container3 .right-content .buttons .btn2 button:hover {
  transition: var(--transition);
  background-color: var(--btn-bg);
  color: white;
  border: 2px solid var(--hover-color);
}

/* ===========================section-4========================= */
.section9 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.section9 .container9 {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-top: 100px;
  max-width: 90vw;
  width: 100%;
  padding: 10px;
  flex-direction: row-reverse;
}
.section9 .container9 .lc > img {
  max-width: 500px;
  height: 100%;
}
.section9 .container9 .rc {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section9 .container9 .rc h2 {
  font-size: 40px;
  font-weight: 700;
}
.section9 .container9 .rc h2 .section9-text-highlighter {
  position: relative;
  display: inline-block;
}
.section9 .container9 .rc h2 .section9-text-highlighter::after {
  content: "";
  position: absolute;
  background: url("/assets/images/section9-text-highlighter.png");
  height: 170%;
  width: 120%;
  top: -10px;
  left: -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section9 .container9 .rc .input-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.section9 .container9 .rc .input-fields .first-row,
.section9 .container9 .rc .input-fields .second-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section9 .container9 .rc .input-fields input {
  outline: none;
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
}
.section9 .container9 .rc .input-fields input:focus {
  outline: 2px solid var(--btn-bg);
  transition: var(--transition);
}
.section9 .container9 .rc .input-fields input,
.section9 .container9 .rc .text-area textarea::placeholder {
  font-size: 16px;
  font-weight: 600;
}
.section9 .container9 .rc .text-area textarea {
  outline: none;
  border: none;
  border-radius: 50px;
  height: 150px;
  width: 600px;
  padding: 20px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
}
.section9 .container9 .rc .text-area textarea:focus {
  outline: 2px solid var(--btn-bg);
  transition: var(--transition);
}
.section9 .container9 .rc .btn button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  width: 200px;
  background-color: var(--btn-bg);
  color: white;
}
.section9 .container9 .rc .btn button:hover {
  transition: var(--transition);
  background-color: var(--hover-color);
}

@media (max-width: 991.98px) {
  .section9 .section9-eclipse > img,
  .section9 .container9 .lc > img,
  .section9 .container9 .rc h2 .section9-text-highlighter img {
    display: none;
  }
  .section9 .container9 .rc {
    width: 100%;
    text-align: center;
  }
  .section9 .container9 .rc h2 {
    font-size: 30px;
    text-align: center;
  }
  .section9 .container9 .rc .input-fields input,
  .section9 .container9 .rc .text-area textarea {
    width: 100%;
  }
  .section9,
  .section9 .container9 {
    height: 100vh;
    width: 100%;
  }
  .section9 .container9 .rc .input-fields,
  .section9 .container9 .rc .input-fields .first-row,
  .section9 .container9 .rc .input-fields .second-row {
    flex-wrap: wrap;
  }
}

/* ===========================footer-section=========== */
.footer {
  max-width: 100vw;
  width: 100%;
  height: 50vh;
  background-color: #f0f0f0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 220px;
}
.footer .footer-para {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  bottom: 2px;
  color: var(--text-color);
}
.container-footer {
  max-width: 90vw;
  width: 100%;
  height: 50vh;
  background-color: #eafbf3;
  position: absolute;
  top: -80px;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.container-footer .logo-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
  line-height: 30px;
}
.container-footer .link-list1,
.container-footer .link-list2,
.container-footer .link-list3,
.container-footer .link-list4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-footer .link-list1 h5,
.container-footer .link-list2 h5,
.container-footer .link-list3 h5,
.container-footer .link-list4 h5 {
  font-size: 20px;
  font-weight: 600;
}
.container-footer .link-list1 ul > li,
.container-footer .link-list2 ul > li,
.container-footer .link-list3 ul > li,
.container-footer .link-list4 ul > li {
  list-style: none;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  transition: var(--transition);
  line-height: 40px;
}
.container-footer .link-list1 ul,
.container-footer .link-list2 ul,
.container-footer .link-list3 ul,
.container-footer .link-list4 ul {
  padding: 0;
}
.container-footer .link-list1 ul > li:hover,
.container-footer .link-list2 ul > li:hover,
.container-footer .link-list3 ul > li:hover,
.container-footer .link-list4 ul > li:hover {
  color: var(--btn-bg);
  transition: var(--transition);
}
@media (max-width: 991.98px) {
  .footer {
    margin-top: 800px;
    background: transparent;
  }
  .container-footer {
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100vw;
    width: 100%;
  }
  .container-footer .link-list1 ul > li,
  .container-footer .link-list2 ul > li,
  .container-footer .link-list3 ul > li,
  .container-footer .link-list4 ul > li {
    list-style: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    transition: var(--transition);
    line-height: 30px;
  }
  .container-footer .link-list1 h5,
  .container-footer .link-list2 h5,
  .container-footer .link-list3 h5,
  .container-footer .link-list4 h5 {
    font-size: 15px;
    font-weight: 600;
  }
  .footer .footer-para {
    display: none;
  }
}
